In [3]:
#pip install kafka-python
import json
import pandas as pd
from kafka import KafkaProducer, KafkaConsumer
from time import sleep
from json import dumps

In [4]:
producer=KafkaProducer(bootstrap_servers=[':9092'],
                      value_serializer=lambda x:
                      dumps(x).encode('utf-8'))

In [5]:
producer.send('demo_topic',value="{'test1':'hello'}")

In [6]:
df1=pd.read_csv('indexProcessed.csv')
df1.head(5)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [7]:
df1.sample(1).to_dict(orient="records")[0]

{'Index': 'N225',
 'Date': '1966-06-13',
 'Open': 1526.5,
 'High': 1526.5,
 'Low': 1526.5,
 'Close': 1526.5,
 'Adj Close': 1526.5,
 'Volume': 0.0,
 'CloseUSD': 15.265}

In [14]:
i=1
while i<30:
    stock_data = df1.sample(1).to_dict(orient="records")[0]
    producer.send('demo_topic',value=stock_data)
    sleep(2)
    i=i+1